[user]
	name = "Khinshan Khan"
	email = "shan@uptogood.dev"

[core]
	sshCommand = "ssh -o IdentitiesOnly=yes -F /dev/null -i ~/.ssh/khinshankhan"
	editor = emacsclient -a '' -c
# 	pager = delta

# [interactive]
# 	diffFilter = delta --color-only
# [delta]
# 	navigate = true
# [merge]
# 	conflictStyle = zdiff3

[init]
	defaultBranch = main

[push]
	default = simple

[pull]
	rebase = true
	ff = only

[rebase]
	autoStash = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	# fetch, or fetch a branch locally without checkout
	f = "!f() { if [ -z \"$1\" ]; then git fetch; else git fetch origin $1:$1; fi; }; f"
	# patch create
	pc = diff HEAD --
	# patch apply
	pa = apply

[include]
    path = "~/.local.gitconfig" # contains some personal information like email and secondary includes
