[user]
	name = "Khinshan Khan"
	email = "shan@uptogood.dev"

[init]
	defaultBranch = main

[core]
	sshCommand = "ssh -o IdentitiesOnly=yes -F /dev/null -i ~/.ssh/khinshankhan"
	editor = emacsclient -a '' -c

# 	pager = delta
# [interactive]
# 	diffFilter = delta --color-only
# [delta]
# 	navigate = true
# [merge]
# 	conflictStyle = zdiff3

[push]
	default = simple

[pull]
	rebase = true
	ff = only

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
    path = "~/.local.gitconfig" # contains some personal information like email and secondary includes
